* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Start Generic Styles */
body{
    font-family: 'Space Grotesk', serif;
    font-size: 1.125rem;
    font-weight: 500;
    letter-spacing: 0.12rem;
    text-shadow: 0px 0px black;
}
/* .main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100dvh;
 } */
 .card-form{
    margin: 3rem 0 3rem 0;
    /* margin: 5rem 0; */
 }
 form-group{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin-bottom: 1rem }
 .card-form label{
    text-transform: uppercase;
    font-size: 0.7rem;
 }
 .card-form input{
    padding: 0.7rem;
    border: 1px solid rgb(197, 194, 194);
    border-radius: 5px;
 }
 .card-form-exp-cvv-wrap{
    display: flex;
    gap: 0.5rem;
    
 }
 .card-form-exp-wrap, .card-form-cvv-wrap{
    width: 50%;
 }
 .card-exp-input-wrap{
    display: flex;
    gap: 0.5rem;
 }
 .card-exp-input-wrap input{
    width: 50%;
 }
 .button{
    background-color:  #270E38;
    color: white;
    width: 100%;
    padding: 1rem;
    border: 1px solid rgb(197, 194, 194);
    border-radius: 5px;
    cursor: pointer;
 }
 button:hover{
    background:#58227e;
}
 figure .cvv{
    position: absolute;
    top: 4rem;
    margin-right: 2.5rem;
    color: white;
    font-size: 0.8rem;
 }
 figure .card-logo {
    position: absolute;
    width: 3rem;
    left: 1rem;
    top: 1rem;
 }
 figure .card-number{
    position: absolute;
    color: white;
    top: 5rem;
    left: 1rem;
    width: 15rem;
    font-size: 1.1rem;
    letter-spacing: 0.18rem; 
 }
 figure .card-name-expiry-wrap{
    color: white;
    position: absolute;
    top: 7rem;
    left: 1rem;
    display: flex;
    width: 14.5rem;
    justify-content: space-between;
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 2px;
 } 
 figure .card-expiry-wrap{
    display: flex;
    width: 3rem;
    justify-content: end;
 }
 .right-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
 }
 .figure{
    cursor: pointer;
 }
 figure.card-back {
    display: flex;
    justify-content: end;
    margin: 2rem 1.5rem;
    position: relative;
 }
 figure.card-front {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 2rem 1.5rem;
    position: relative;
    top: -6rem;
 }
 .figure h4{
    font-size: 0.8rem;
 }
 .complete-wrap {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5rem 0;
 }
 .complete-check{
    display: inline-block;
    margin: 2rem 0;
 }
 .thank-you-text{
    text-transform: uppercase;
    margin-bottom: 1rem;
 }
 .success-message {
    margin-bottom: 2.5rem;
    color: gray;
    font-size: 0.9rem;
 }
 .help-icon-wrap{
    display: flex;
    justify-content: end;
    width: 100%;
    margin-top: 3rem;
 }
 .help-icon-wrap img {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}
.help-icon-wrap img:hover {
    transform: rotate(266deg);
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px dashed #270E38;
    height: 3rem;
    width: 100%;
    
}
.footer-wrap h5{
    font-size: 0.7rem;
}

.social-wrap img{
    width: 2rem;
    height: 2rem;
    cursor: pointer;

}
.social-wrap{
    width: 7rem;
}
.social-wrap img:hover {
    transform: rotate(45deg);
}
.help-box-wrap {
    display: none;
    position: absolute;
    z-index: 5;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition-duration: 3s;
    transition-delay: 2s;
}
.help-box {  
    background: white;
    opacity: 1;
    z-index: 10;
    margin: 5rem 2rem;
    border-radius: 1rem;
    min-width: 80%;
    width: 100%;
    padding: 1rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
}
.mask{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    opacity: 0.5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.close-wrap{
    display: flex;
    justify-content: end;
    border-bottom: 1px dashed #270E38;
    margin-bottom: 1rem;
}
.close-wrap span{
    color: rgb(244, 73, 73);
    width: 1.5rem;
    display: flex;
    justify-content: center;
    height: 1.5rem;
    border-radius: 56787656px;
    align-items: center;
    border: 1px solid;
    padding: 0.1rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.feedback-box-wrap{
    display: none;
    justify-content: center;
    position: absolute;
    top: 2rem;
    z-index: 5;
    width: 100%;
}
.feedback-box{
    display: flex;
    z-index: 5;
    width: 21rem;
    background: #e9635a;
    border-radius: 1rem;
    flex-direction: column;
    color: white;
    padding: 1rem;
}
.feedback-close-wrap{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed #270E38;
}
.feedback-close-wrap span{
    color: #ebebec;
    cursor: pointer;
    width: 1.5rem;
    display: flex;
    justify-content: center;
    height: 1.5rem;
    border-radius: 56787656px;
    align-items: center;
    border: 1px solid;
    padding: 0.1rem;
    margin-bottom: 0.5rem;
}
.feedback-box .msg{
    font-size: 0.7rem;
    margin-top: 1rem;
}

/* Define the shaking animation */
@keyframes shakeBtn {
    0% { transform: translateX(0); }
    20% { transform: translateX(-10px); }
    40% { transform: translateX(10px); }
    60% { transform: translateX(-10px); }
    80% { transform: translateX(10px); }
    100% { transform: translateX(0); }
  }
  
  /* Apply the shaking animation to the button when the 'shake' class is added */
  .shake {
    animation: shakeBtn 0.6s ease-in-out;
  }

/* Define the bouncing animation */
@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-15px); }
  }
  .bounce {
    animation: bounce 0.5s infinite;
  }

/* Define the scale animation */
@keyframes scaleHelp {
    0%, 100% { scale: 1; }
    50% { scale: 1.5; }
  }
  .scale-help {
    animation: scaleHelp 0.5s ease-in;
  }

  @keyframes scaleFrontCard {
    0%, 100% { scale: 1; }
    50% { scale: 1.1; }
  }
  .scale-front-card {
    animation: scaleFrontCard 0.5s ease-in;
  }

  @keyframes scaleBackCard {
    0%, 100% { scale: 1; }
    50% { scale: 1.1; }
  }
  .scale-back-card {
    animation: scaleBackCard 0.5s ease-in;
  }

  @keyframes scaleCheckIcon {
    0%{ scale: 0.2; }
    20%{ scale: 0.4; }
    30%{ scale: 0.6; }
    40% { scale: 0.8; }
    50%{ scale: 1; }
    60%{ scale: 1.1; }
    70%{ scale: 1.2; }
    80%{ scale: 1.3; }
    90%{ scale: 1.2; }
    100%{ scale: 1; }
  }
  .scale-complete-check {
    animation: scaleCheckIcon 0.5s ease-in-out;
  }



 /*End Generic Styles */

 /* Media Query for Mobile - Extra Small (xs) */
@media only screen and (max-width: 575px) {
    .left-side{
        background: url('../images/bg-main-mobile.png') no-repeat #270E38;
        background-size: cover;
        width: 100%;
        height: 34dvh;
    }
    .left-side .card-bg{
        width: 17rem;
    }
    .right-side{
        padding: 0 1.5rem;
        height: 66dvh;
    }



}

/* Media Query for Tablets - Small (sm) */
@media only screen and (min-width: 576px) and (max-width: 767px){
    .left-side{
        background: url('../images/bg-main-mobile.png') no-repeat #270E38;
        background-size: cover;
        width: 100%;
        height: 34dvh;
    }
    .left-side .card-bg{
        width: 17rem;
    }
    figure.card-back {
        margin: 2rem 8rem;
    }
    figure.card-front {
        margin: 2rem 8rem;
    }
    .right-side{
        padding: 0 8rem;
        height: 66dvh;
    }
    
}

/* Media Query for Larger Tablets - Medium (md) */
@media only screen and (min-width: 768px) and (max-width: 991px){
    .left-side{
        background: url('../images/bg-main-mobile.png') no-repeat #270E38;
        background-size: cover;
        width: 100%;
        height: 34dvh;
    }
    .left-side .card-bg{
        width: 17rem;
    }
    figure.card-back {
        margin: 2rem  25dvw 0 0;
    }
    figure.card-front {
        margin: 2rem 0 0 25dvw;
    }
    .right-side{
        padding: 0 25dvw;
        height: 66dvh;
    }
    
}


/* Media Query for Standard Laptops and Desktops - Large (lg) */
@media only screen and (min-width: 992px) and (max-width: 1199px){
    /* .main-container{
        display: flex;
        flex-direction: row;
        width: 100%;
        min-height: 100dvh;
    } */
    .left-side{
        background: url('../images/bg-main-desktop.png') no-repeat #270E38;
        background-size: cover;
        /* width: 30%; */
        height: 100dvh;
    }
    .left-side .card-bg{
        width: 17rem;
    }
    figure.card-back {
        position: absolute;
        margin: 22rem 0rem 0 10rem;
    }
    figure.card-front {
        margin: 17rem 0 0 6rem;
    }
    .right-side{
        align-items: center;
        /* width: 70%; */
        padding: 0 13rem;
        height: 100dvh;
    }
    
}    


/* Media Query for Larger Desktop - Extra Large(xl) */
@media only screen and (min-width: 1200px) and (max-width: 1439px) {
    /* .main-container{
        display: flex;
        flex-direction: row;
        width: 100%;
        min-height: 100dvh;
    } */
    .left-side{
        background: url('../images/bg-main-mobile.png') no-repeat #270E38;
        background-size: cover;
        /* width: 30%; */
        height: 100dvh;
    }
    .left-side .card-bg{
        width: 17rem;
    }
    figure.card-back {
        position: absolute;
        margin: 22rem 0rem 0 13rem;
    }
    figure.card-front {
        margin: 17rem 0 0 10rem;
    }
    .right-side{
        align-items: center;
        justify-content: center;
        /* width: 70%; */
        padding: 0 15rem;
        height: 100dvh;
    }

}



/* Media Query for Larger Desktop - Extra Large(xxl) */
@media only screen and (min-width: 1440px) {

    .left-side{
        background: url('../images/bg-main-mobile.png') no-repeat #270E38;
        background-size: cover;
        width: 30%;
        height: 100dvh;
    }
    .left-side .card-bg{
        width: 17rem;
    }
    figure.card-back {
        position: absolute;
        margin: 25rem 0rem 0 19rem;
    }
    figure.card-front {
        margin: 20rem 0 0 15rem;
    }
    .right-side{
        align-items: center;
        justify-content: center;
        width: 70%;
        padding: 0 19rem;
        height: 100dvh;
    }
}

